<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kütüphane Yönetim Sistemi</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @* İÇERİK BURADA YER ALIR *@
        @RenderBody()
    </div>

    @* FOOTER BURADA YER ALIR *@



    <footer class="footer">
        <div class="container">
            <p class="text-center">© 2025 Kütüphane Yönetim Sistemi. Tüm hakları FADİME DENİZ YÜKSEKBULGU'ya saklıdır.</p>
        </div>
    </footer>

    <script src="~/js/site.js"></script>
</body>
</html>
