@model LibraryManagementSystem.Models.Author

@{
    ViewData["Title"] = "Yazar Sil";
}

<h2>@Model.FirstName @Model.LastName yazarını silmek istediğinizden emin misiniz?</h2>

@* SİLME İŞLEMİNİ ONAYLAMAK İÇİN HAZIRLANAN FORM *@
<form method="post" action="/Author/DeleteConfirmed/@Model.Id">
    <button type="submit" class="btn btn-danger">Sil</button>
    <a href="/Author/List" class="btn btn-secondary">İptal</a>
</form>
