@model LibraryManagementSystem.Models.Author

@{
    ViewData["Title"] = "Yazar Detayı"; //SAYFA BAŞLIĞI BURADA YER ALIR.
}

<h2>Yazar Bilgileri</h2>

<p><strong>Ad:</strong> @Model.FirstName</p>
<p><strong>Soyad:</strong> @Model.LastName</p>
<p><strong>Doğum Tarihi:</strong> @Model.DateOfBirth.ToShortDateString()</p>

 @* LİSTEYE GERİ DÖNMEK İÇİN GEREKEN BUTON BURADA YER ALI *@
<a href="/Author/List" class="btn btn-secondary">Geri Dön</a>
